@import "tailwindcss";
body {
  min-height: 100vh;
  background:
    linear-gradient(rgba(3, 0, 20, 18), rgba(3, 0, 20, 18)),
    url("./assets/images/bg.jpg");

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}